<div class="card-wrapper">
  <p-card *ngIf="githubUser">
    <ng-template pTemplate="header">
      <div class="card-header">
        <img
          [src]="githubUser.avatar_url"
          alt="Avatar"
          class="avatar"
        />
        <h2>{{ githubUser.login }}</h2>
      </div>
    </ng-template>

    <div class="card-content">
      <p>{{ githubUser.bio || 'Sin biografía' }}</p>
      <p><strong>Seguidores:</strong> {{ githubUser.followers }}</p>
      <p><strong>Siguiendo:</strong> {{ githubUser.following }}</p>
      <p><strong>Repos públicos:</strong> {{ githubUser.public_repos }}</p>
    </div>

    <ng-template pTemplate="footer">
      <div class="card-footer">
        <a [href]="githubUser.html_url" target="_blank">
          <p-button
            pButton
            type="button"
            label="Ver en GitHub"
            icon="pi pi-github"
          ></p-button>
        </a>
      </div>
    </ng-template>
  </p-card>
</div>
