<div class="card-wrapper">
    <div class="auth-container">
      <h2>Iniciar Sesión</h2>
  
      <form (submit)="onSubmit()">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" placeholder="Correo electrónico" [(ngModel)]="email" name="email" required />
        
        <label for="password">Contraseña</label>
        <input id="password" type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required />
  
        <button type="submit">Ingresar</button>
  
        <div class="quick-login">
          <p>Login rápido:</p>
          <!-- <button type = button (click)="quickLogin('user1@example.com')">User 1</button>
          <button type = button (click)="quickLogin('user2@example.com')">User 2</button>
          <button type = button (click)="quickLogin('user3@example.com')">User 3</button> -->
        </div>
  
        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
  