<div class="fondo">
    <img src="assets/ahorcado/FONDO.jpeg" class="fondo-img" alt="fondo" />
  
    <div class="juego-contenido">

      <div *ngIf="!juegoIniciado" class="inicio-juego">
        <img src="assets/ahorcado/comenzar.png" alt="Empezar" class="boton-comenzar-img" (click)="reiniciarJuego()" />
      </div>


      <div *ngIf="juegoIniciado">
        <app-cronometro (tiempoFinalizado)="guardarTiempo($event)"></app-cronometro>
        <img [src]="'assets/ahorcado/a' + errores + '.png'" class="estado-img" alt="ahorcado" />
        
        <div class="palabra">
          <span *ngFor="let letra of palabraOculta.split('')">
            {{ letrasCorrectas.includes(letra) ? letra : '_' }}
          </span>
        </div>
    
        <div *ngIf="!juegoTerminado" class="teclado">
          <div *ngFor="let fila of abecedario" class="fila">
            <button 
              *ngFor="let letra of fila"
              (click)="seleccionarLetra(letra)"
              [disabled]="letrasSeleccionadas.includes(letra)">
              {{ letra }}
            </button>
          </div>
        </div>
    
        <div *ngIf="juegoTerminado" class="resultado">
          <p *ngIf="gano">¡Ganaste!</p>
          <p *ngIf="!gano">Perdiste. La palabra era: {{ palabraOculta }}</p>
          <img src="assets/ahorcado/volver.png" alt="Volver a jugar" class="img-volver" (click)="reiniciarJuego()" />
        </div>

      </div>
    </div>                  
</div>
  