<div class="card-wrapper">
    <div class="auth-container">
      <h2>Registro</h2>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input formControlName="name" type="text" placeholder="Nombre" />
        <input formControlName="lastName" type="text" placeholder="Apellido" />
        <input formControlName="email" type="email" placeholder="Correo electrónico" />
        <input formControlName="password" type="password" placeholder="Contraseña" />
        <input formControlName="age" type="number" placeholder="Edad" />
  
        <button type="submit">Registrarse</button>
      </form>
  
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
  </div>
  